* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grenfather {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
}  

.row, .row {
    display: flex;
    flex-direction: column;
    width: 45%;
    text-align: left;
}

/* .child {
    border: 1px solid black;

} */

