* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
#header {
    background: #35424a;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}
.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header-right img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}
.header-right i {
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
}
h1 {
    margin-left: 20px;
    font-size: 45px;
}

.your-tour {
    background-color: #a3a4a5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border-radius: 20px;

}
.your-tour2 {
    background-color: #a3a4a5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}
.your-tour button {
    background-color : transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.your-tour2 button {
    background-color : transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
h2 {
    margin-left: 20px;
}
.star-review {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-top: 20px;
}
.star-review i {
    color: gold;
    margin-left: 20px;
    font-size: 25px;
    object-fit: cover;
    /* Em bị lỗi không thể cho ảnh vào trong Container (Star-rivew) được ạ */
}
.star-review img {
    width: 100vw;
}
.in-out {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    color: #a3a4a5;
    margin: 10px;
}
.bedroom {
    margin-left: 20px;
    font-size: 25px;
    color: #a3a4a5;
}
.Guest {
    margin-left: 20px;
    font-size: 25px;
    color: #a3a4a5;
}
.line {
    border-bottom: 1px solid rgb(5, 4, 4);
    margin: 20px 0;
    width: 80vh;
    height: 1px;
}
.total {
    background-color: #35424a;
    padding: 0 20px;
    border-radius: 10px;
}
.report {background-color: rgb(237, 243, 249, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin : 50px;
    color: #000000;
}

.pay-cards {
    background-color: #aa9090;
    border-radius: 30px;
}

.card-style {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 25px;
    padding: 20px;
    border: 10px;
    border-radius: 10px solid none;
}
.card-style{
    font-size: 30px;
}
.pay-cards i {
    font-size: 50px;
}


.cardNumberContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardNumber{
    font-size: 45px;
    margin-left: 30px;
}
.cardNumberText{
    font-size: 40px;
    margin-left: 30px;
}
.card-info-input {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    height: 40px;
    margin: 20px;
}
.cardNumberInput {
    margin: 20px;
    padding-left: 20px;
    width: 80vw;
    height: 50px;
    border-radius: 30px;

}
.card-info-input p {
    font-size: 30px;
    text-align: left;
}
.save-card {
    display: flex;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    gap: 10px;
}
.save-card input {
    width: 20px;
}
.confirm-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-btn div {
    font-size: 30px;
    background-color: #35424a;
    padding : 10px 50px;
    border-radius: 30px;
    color: #ffffff;
    cursor: pointer;
}
.getOur-boxmodel {
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    height: 300px;
}
.div-getOur h2 {
    font-size: 25px;
    margin: 20px 0 0 60px;
}
.div-getOur p {
    font-size: 20px;
    padding: 20px;
}
.input-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    padding: 20px;
}
.input-btn input {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    border: none;
    position: relative;
}
.input-btn button {
    border-radius: 20px;
    background-color: #35424a;
    color: white;
    height: 30px;
    width: 80px;
    position: absolute;
    cursor: pointer;
    right: 300px;
}
#footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin : 30px 0;
}
.footer-child {
    display: flex;
    flex-direction: column;
}
.footer-child a {
    text-decoration: none;
    color: #aa9090;
    padding: 10px;
    font-size: 20px;
}
.footer-child b {
    font-size: 30px;
    margin-top: 15px;
}

.footer-logo {
    display: flex;
    font-size: 40px;
    color: blue;
}
.footer-logo i {
    padding: 10px;
    color: aqua;
}